.login {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #3D7367FF;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.login-form {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-input {
    background-color: transparent;
    border: 1px solid #44655f;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    font-size: 18px;
    color: #fff2c4;
}

.login-button {
    background-color: transparent;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #44655f;
    border-radius: 15px;
    outline: none;
    transition: .3s background-color;
}

.login-button:hover {
    background-color: #6aa196;
}
