.message-item {
    margin: 10px 5px;
    padding: 5px 0;
    background-color: #3d5864;
}

.message-item-login {
    color: #ffee9a;
    font-weight: bold;
}

.message-item-date {
    font-size: 12px;
    color: #70adb4;
}

.message-item-text {
    color: #dccda3;
    font-size: 16px;
}