* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #3d5864;
    color: #fff2c4;
    min-height: 100vh;
    padding: 10px calc(50% - 400px);
    font-size: 18px;
}
